<h2 style="margin-top: 10px">Xoá yêu cầu hỗ trợ</h2>
<form method="post" action="/delete_support" enctype="application/x-www-form-urlencoded">
    <div class="form-group" style="margin-bottom: 10px">
        <label for="exampleInputEmail1">Địa chỉ Email</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Xóa yêu cầu hỗ trợ</button>
</form>